# SQL 4 Data Science: Predict Project
## Bhejane Online Trading Store

### Student Starter Notebook

Â© Explore Data Science Academy

### Honour Code

I {**YOUR NAME**, **YOUR SURNAME**}, confirm - by submitting this document - that the solutions in this notebook are a result of my own work and that I abide by the EDSA honour code (https://drive.google.com/file/d/1QDCjGZJ8-FmJE3bZdIQNwnJyQKPhHZBn/view?usp=sharing).

Non-compliance with the honour code constitutes a material breach of contract.

<a id='Context'></a>
### 1. Context

<div align="center" style="width: 600px; font-size: 80%; text-align: center; margin: 0 auto">
<img src="https://raw.githubusercontent.com/Explore-AI/Pictures/master/Bhejane_large.jpg"
     alt="The Black Rhino"
     style="float: center; padding-bottom=0.5em"
     width=600px/>
     Bhejane, or the Black Rhino. Image by <a href="https://commons.wikimedia.org/wiki/File:Black_Rhino_(Diceros_bicornis)_browsing_..._(46584052962).jpg">Wikimedia Commons</a>
</div>


The Bhejane trading store is an online retailer specialising in Covid essesstial items. The store has recently be struggling with the management of its database-related inventory system. Luckily for them, you've been hired as a consultant to fix the problem. 

Its time to flex your Ninja SQL skills! 
 
**Your mission, should you choose to accept it:**

You will receive a denormalised database consisting of two tables. Your task is to transform the database such that is in third normal form (3NF). To ensure that a consistent normalisation process is followed by each student, we have attached an Entity Relationship Diagram (ERD) which is a guideline on what tables need to be produced. Once you have normalised the databasse, you will be required to complete an MCQ test found under the 'Predict' tab of Athena.

<a id='Imports'></a>
### 2. Imports
Please use the below command to install sql_magic, this is the package that will assist you with SQL syntax hightlighting.
* pip install sql_magic

Remember to start each new cell with " %%read_sql "

In [159]:
# DO NOT EDIT THIS CELL
import sqlite3
import csv
from sqlalchemy import create_engine
%load_ext sql_magic

# Load SQLite database
engine  = create_engine("sqlite:///bhejane.db")
%config SQL.conn_name ='engine'

The sql_magic extension is already loaded. To reload it, use:
  %reload_ext sql_magic

<a id='Data_description'></a>
### 3. Data description

The original database consist of 2 tables. 
* Product Table
* Transaction Table

In [160]:
# DO NOT EDIT THIS CELL
import pandas as pd
data_description = pd.read_excel('Data Description.xlsx')
data_description

,Table Name,Column Name,Desciption
0,Products,Width,Width of the product once assembled
1,Products,Length,Length of the product once assembled
2,Products,Height,Height of the product once assembled
3,Products,Barcode,The unique product identifier
4,Products,Quantity,Number of goods in stock
5,Products,Brand,Product brand name relating to product company
6,Products,NavigationPath,Navigation path to specific product
7,Products,Colour,Name default colour for the product
8,Products,StockCountry,Country where the stock was bought from
9,Products,ProductDescription,Descriptive product name
10,Products,PackType,The way in which the product is packaged
11,Products,Volume_litre,The quantity of liquid based products
12,Products,Warranty,Product warranty type
13,Products,Weight_kg,Weight of the product
14,Products,ItemDescription,Description of contents of the package
15,Products,Price,The cost of the product in Rands
16,Transactions,CartID,Identifies an individual basket from a user pu...
17,Transactions,Barcode,Barcode for item that user purchased
18,Transactions,Total,Total value of a transaction
19,Transactions,UserName,Name of customer purchasing stock
20,Transactions,InvoiceDate,Date on which the product was bought

<a id='Setting_up'></a>
### 4. Setting up the database

In [161]:
#DO NOT EDIT THIS CELL
conn = sqlite3.connect('bhejane.db')
cursor = conn.cursor()

#### Creating both Products and Transaction Tables

In [162]:
%%read_sql
--DO NOT EDIT THIS CELL
DROP TABLE IF EXISTS "Products";
DROP TABLE IF EXISTS "Transactions";

CREATE TABLE "Products" (
    "Width"   REAL,
    "Length"  REAL,
    "Height"  REAL,
    "Barcode" VARCHAR(150) NOT NULL,
    "Quantity" INTEGER NOT NULL,
    "Brand" VARCHAR(150), 
    "NavigationPath" VARCHAR(150),
    "Colour" VARCHAR(150),
    "StockCountry" VARCHAR(150),
    "ProductDescription" VARCHAR(150) NOT NULL,
    "PackType" VARCHAR(150), 
    "Volume_litre" REAL, 
    "Warranty" VARCHAR(150), 
    "Weight_kg" REAL,
    "ItemDescription" VARCHAR(150), 
    "Price" REAL
);


CREATE TABLE "Transactions" (
    "CartID" INTEGER,
    "Barcode" VARCHAR(150), 
    "Total" REAL,
    "UserName" VARCHAR(150), 
    "InvoiceDate" DATETIME
);

Query started at 08:11:58 PM South Africa Standard Time; Query executed in 0.00 m

#### Load Data into Product and Transaction tables

In [163]:
# DO NOT EDIT CELL
# Load data into Product table
with open('bhejane_covid_essentials_Products.csv','r') as fin: # `with` statement available in 2.5+
    # csv.DictReader uses first line in file for column headings by default
    dr = csv.DictReader(fin) # comma is default delimiter
    to_db = [(i['Width'],i['Length'],i['Height'], i['Barcode'], i['Quantity'], i['Brand'], i['NavigationPath'], i['Colour'], i['StockCountry'], i['ProductDescription'],i['PackType'],i['Volume_litre'],i['Warranty'],i['Weight_kg'],i["ItemDescription"],i['Price']) for i in dr]

cursor.executemany("INSERT INTO Products VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?);", to_db)
conn.commit()

with open('bhejane_covid_essentials_Transactions.csv','r') as fin: # `with` statement available in 2.5+
    # csv.DictReader uses first line in file for column headings by default
    dr = csv.DictReader(fin) # comma is default delimiter
    to_db = [(i['CartID'],i['Barcode'], i['Total'], i['UserName'], i['InvoiceDate']) for i in dr]

cursor.executemany("INSERT INTO Transactions VALUES (?, ?, ?, ?, ?);", to_db)
conn.commit()

<a id='ERD'></a>
### 5. Denormalized Database Tables


<br>

<img src="https://raw.githubusercontent.com/Explore-AI/Pictures/master/SQL4DS/SQL_Predict/Denormalized_Tables.png" alt="Denormalized Tables" border="0">

#### 5.1 Explore the Denormalized Tables
Familiarize yourself with the data given in the two tables by writing your own SQL queries to explore properties of the dataset.i.e Look for data inconsistencies, anormalies, redundancies etc to guide your normalization process. 

This section will not be graded - think of it as your own scratch pad.

In [164]:
%%read_sql
-- #Use this section to explore the database by writing your own queries
--Checking for any primary keys in any of the tables

--PRAGMA table_info(Products);

SELECT *
FROM Products_1NF
LIMIT 10;

Query started at 08:12:08 PM South Africa Standard Time; Query executed in 0.00 m

,Barcode,NavigationPath,ItemDescription,ProductDescription,Brand,Price,Quantity,PackType,Warranty,StockCountry,Colour,Weight_kg,Volume_litre,Length,Width,Height
0,300507946,Computers & Tablets / Smart Home & Connected L...,1 x Hikvision 1080P Bullet camera,Hikvision 1080P 2MP Turbo HD IR Bullet Camera,Hikvision,399.0,493,,Limited (6 months),,,,0.0,,,
1,300507946,Computers & Tablets / Smart Home & Connected L...,Manual,Hikvision 1080P 2MP Turbo HD IR Bullet Camera,Hikvision,399.0,493,,Limited (6 months),,,,0.0,,,
2,10325354918,Fashion / Accessories / Scarves,,ZEE 3-in-1 Unisex Gaiter,ZEE,139.0,467,,Limited (6 months),,Grey,,0.0,,,
3,27131187035,Beauty / Luxury Beauty / Makeup / Face / Found...,,Estee Lauder Double Wear Stay In Place Makeup,Estee Lauder,655.0,275,,Non-Returnable,South Africa,Fresco,,0.0,,,
4,27131187035,Beauty / Luxury Beauty / Shop By Brand / Estee...,,Estee Lauder Double Wear Stay In Place Makeup,Estee Lauder,655.0,275,,Non-Returnable,South Africa,Fresco,,0.0,,,
5,27131187035,Beauty / Makeup / Face / Foundation,,Estee Lauder Double Wear Stay In Place Makeup,Estee Lauder,655.0,275,,Non-Returnable,South Africa,Fresco,,0.0,,,
6,39800085139,Cameras / Cameras & Lenses / Camera Accessorie...,,Energizer 3V CR2450 Lithium Coin Battery,Energizer,49.0,247,,Limited (12 months),South Africa,,,0.0,,,
7,43859499182,Office & Stationery / Stationery / Office Supp...,1 x 350ml Free Air Duster,Fellowes HFC Free Air Duster - 350ml,Fellowes,149.0,386,,Limited (6 months),South Africa,,,0.0,,,
8,43917915548,Health / Personal Care / Shaving & Hair Remova...,Wahl Home Pro Basic Corded 8 Piece Haircutting...,Wahl Home Pro Basic Corded 8 Piece Haircutting...,WAHL,149.0,338,,Limited (6 months),South Africa,,,0.0,,,
9,43917915548,Health / Personal Care / Shaving & Hair Remova...,Wahl Home Pro Basic Corded 8 Piece Haircutting...,Wahl Home Pro Basic Corded 8 Piece Haircutting...,WAHL,149.0,338,,Limited (6 months),South Africa,,,0.0,,,

### 6. Normalize the given Database tables to the 1st Normal Form (1NF)

Given the below below target ERD create new tables such the the database conforms to the 1st Normal Form

<img src="https://raw.githubusercontent.com/Explore-AI/Pictures/master/SQL4DS/SQL_Predict/1NF.png" alt="1st Normal Form ERD" border="0">

It is suggested that you create all your tables before attempting to populate them with data, this will help reduce errors that might creep up due to logical dependencies.

#### 6.1 Create the tables required for the 1st Normal Form
Use the above ERD sketch to create the required tables. Please label your tables as they appear in the ERD sketch

In [165]:
%%read_sql
--#Create tables required for 1NF

DROP TABLE IF EXISTS "Products_1NF";
DROP TABLE IF EXISTS "Transactions_1NF";

CREATE TABLE "Products_1NF" (
    "Barcode" VARCHAR(150) NOT NULL,
    "NavigationPath" VARCHAR(150) NOT NULL,
    "ItemDescription" VARCHAR(150) NOT NULL, 
    "ProductDescription" VARCHAR(150) NOT NULL,
    "Brand" VARCHAR(150),
    "Price" REAL NOT NULL,
    "Quantity" INTEGER NOT NULL,
    "PackType" VARCHAR(150),
    "Warranty" VARCHAR(150), 
    "StockCountry" VARCHAR(150),
    "Colour" VARCHAR(150),
    "Weight_kg" REAL,
    "Volume_litre" REAL,
    "Length"  REAL,
    "Width"   REAL,
    "Height"  REAL,
    FOREIGN KEY ("Barcode") REFERENCES Transactions_1NF("Barcode")
    PRIMARY KEY ("Barcode", "NavigationPath", "ItemDescription")



   
);


CREATE TABLE "Transactions_1NF" (
    "CartID" INTEGER NOT NULL,
    "Barcode" VARCHAR(150) NOT NULL, 
    "UserName" VARCHAR(150) NOT NULL, 
    "InvoiceDate" DATETIME NOT NULL,
    "Total" REAL NOT NULL,
    PRIMARY KEY ("CartID", "Barcode")
);

Query started at 08:12:19 PM South Africa Standard Time; Query executed in 0.00 m

In [166]:
# DO NOT EDIT CELL
# Load data into Product table
with open('bhejane_covid_essentials_Products.csv','r') as fin: # `with` statement available in 2.5+
    # csv.DictReader uses first line in file for column headings by default
    dr = csv.DictReader(fin) # comma is default delimiter
    to_db = [(i['Barcode'],i['NavigationPath'],i['ItemDescription'], i['ProductDescription'], i['Brand'], i['Price'], i['Quantity'], i['PackType'], i['Warranty'], i['StockCountry'],i['Colour'],i['Weight_kg'],i['Volume_litre'],i['Length'],i['Width'],i['Height']) for i in dr]

cursor.executemany("INSERT INTO Products_1NF VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?);", to_db)
conn.commit()

with open('bhejane_covid_essentials_Transactions.csv','r') as fin: # `with` statement available in 2.5+
    # csv.DictReader uses first line in file for column headings by default
    dr = csv.DictReader(fin) # comma is default delimiter
    to_db = [(i['CartID'],i['Barcode'], i['UserName'], i['InvoiceDate'], i['Total']) for i in dr]

cursor.executemany("INSERT INTO Transactions_1NF VALUES (?, ?, ?, ?, ?);", to_db)
conn.commit()

#### 6.2 Populate the tables you have create in the above section.

Populate the tables such that the database conforms to the 1st Normal Form

###  7. Convert the database into its 2nd Normal Form (2NF).

Please label your tables as they appear in the ERD sketch.

<img src="https://raw.githubusercontent.com/Explore-AI/Pictures/master/SQL4DS/SQL_Predict/2NF.png" alt="2nd Normal Form ERD" border="0">

In [167]:
%%read_sql
--#Create tables required for 2NF

DROP TABLE IF EXISTS  Products_2NF;
DROP TABLE IF EXISTS  Transactions_2NF;
DROP TABLE IF EXISTS  Navigation_2NF;
DROP TABLE IF EXISTS  PackageContents_2NF;
DROP TABLE IF EXISTS  Colours_2NF;

CREATE TABLE Transactions_2NF (
     CartID INTEGER NOT NULL,
     Barcode VARCHAR(150) NOT NULL, 
     UserName VARCHAR(150) NOT NULL, 
     InvoiceDate DATETIME NOT NULL,
     Total REAL NOT NULL,
     PRIMARY KEY(CartID, Barcode)
);


CREATE TABLE Navigation_2NF (
     PathID INTEGER NOT NULL,
     NavigationPath VARCHAR(150),
     PRIMARY KEY(PathID AUTOINCREMENT)
   
);


CREATE TABLE  PackageContents_2NF (
     ItemID INTEGER NOT NULL,
     ItemDescription VARCHAR(150), 
     PackType VARCHAR(150), 
     Warranty VARCHAR(150),
     PRIMARY KEY(ItemID AUTOINCREMENT)
   
    
);


CREATE TABLE Colours_2NF (
     ColourID INTEGER NOT NULL,
     Colour VARCHAR(150),
     PRIMARY KEY(ColourID AUTOINCREMENT)

    
);

CREATE TABLE  Products_2NF (
     RegistryID INTEGER NOT NULL,
     Barcode VARCHAR(150) NOT NULL, 
     ProductDescription VARCHAR(150) NOT NULL, 
     Brand VARCHAR(150), 
     Price REAL NOT NULL, 
     Quantity INTEGER NOT NULL, 
     StockCountry VARCHAR(150), 
     Weight_kg REAL, 
     Volume_litre REAL, 
     Length REAL, 
     Width REAL, 
     Height REAL,
     PathID INTEGER NOT NULL,
     ItemID INTEGER NOT NULL,
     ColourID INTEGER NOT NULL,
     FOREIGN KEY (Barcode) REFERENCES Transactions_2NF(Barcode),
     FOREIGN KEY (PathID) REFERENCES Navigation_2NF(PathID),
     FOREIGN KEY (ItemID) REFERENCES PackageContents_2NF(ItemID),
     FOREIGN KEY (ColourID) REFERENCES Colours_2NF(ColourID),
     PRIMARY KEY (RegistryID AUTOINCREMENT)
  
);

Query started at 08:12:35 PM South Africa Standard Time; Query executed in 0.00 m

In [168]:
%%read_sql

DELETE FROM Colours_2NF;
DELETE FROM Navigation_2NF;
DELETE FROM PackageContents_2NF;
DELETE FROM Transactions_2NF;
DELETE FROM Products_2NF;

INSERT INTO Colours_2NF (Colour)
SELECT DISTINCT Colour
FROM Products_1NF
;

INSERT INTO Navigation_2NF (NavigationPath)
SELECT DISTINCT NavigationPath
FROM Products_1NF
;

INSERT INTO PackageContents_2NF (ItemDescription, Warranty, PackType)
SELECT DISTINCT ItemDescription, Warranty, PackType
FROM Products_1NF
;


INSERT INTO Transactions_2NF (UserName, InvoiceDate, Total, Barcode, CartID)
SELECT DISTINCT UserName, InvoiceDate, Total, Barcode, CartID
FROM Transactions_1NF
;

Query started at 08:12:42 PM South Africa Standard Time; Query executed in 0.00 m

In [169]:
%%read_sql
--I am trying to insert the products in a different cell because its crammed in the previous cell

DELETE FROM Products_2NF;

INSERT INTO Products_2NF (Barcode, ProductDescription, Brand, Price, Quantity, StockCountry, Weight_kg, Volume_litre, Length, Width, Height, PathID, ItemID, ColourID)
SELECT DISTINCT P1NF.Barcode, P1NF.ProductDescription, P1NF.Brand, P1NF.Price, P1NF.Quantity, P1NF.StockCountry, P1NF.Weight_kg, P1NF.Volume_litre, P1NF.Length, P1NF.Width, P1NF.Height, N2NF.PathID, PC2NF.ItemID, C3NF.ColourID
FROM Products_1NF AS P1NF
JOIN Navigation_2NF AS N2NF
ON P1NF.NavigationPath = N2NF.NavigationPath
JOIN PackageContents_2NF AS PC2NF
ON P1NF.ItemDescription = PC2NF.ItemDescription AND P1NF.Warranty = PC2NF.Warranty AND P1NF.PackType = PC2NF.PackType
JOIN Colours_3NF AS C3NF
ON P1NF.Colour = C3NF.Colour


;

Query started at 08:12:47 PM South Africa Standard Time; Query executed in 0.00 m

<a id='Target_ERD'></a>
### 8. Convert the table into its 3rd Normal Form (3NF)

Please label your tables as they appear in the ERD sketch

<br>

<img src="https://raw.githubusercontent.com/Explore-AI/Pictures/master/SQL4DS/SQL_Predict/3NF.png" alt="3rd Normal Form ERD" border="0"></a>

In [170]:
%%read_sql

DROP TABLE IF EXISTS Colours_3NF;
DROP TABLE IF EXISTS Navigation_3NF;
DROP TABLE IF EXISTS PackageContents_3NF;
DROP TABLE IF EXISTS Transactions_3NF;
DROP TABLE IF EXISTS Products_3NF;
DROP TABLE IF EXISTS Users_3NF;
DROP TABLE IF EXISTS Brands_3NF;
DROP TABLE IF EXISTS Locations_3NF;


CREATE TABLE Colours_3NF AS
SELECT * FROM Colours_2NF;

CREATE TABLE Navigation_3NF AS
SELECT * FROM Navigation_2NF;

CREATE TABLE PackageContents_3NF AS
SELECT * FROM PackageContents_2NF;

CREATE TABLE Transactions_3NF (
    
     CartID INTEGER NOT NULL,
     Barcode VARCHAR(150) NOT NULL,
     UserID INTEGER NOT NULL,
     InvoiceDate DATETIME NOT NULL,
     Total REAL NOT NULL,
     FOREIGN KEY (UserID) REFERENCES Users_3NF(UserID),
     PRIMARY KEY (CartID, Barcode)
);

CREATE TABLE Products_3NF (
    
     RegistryID INTEGER NOT NULL,
     Barcode VARCHAR(150) NOT NULL,
     ProductDescription VARCHAR(150) NOT NULL,
     Price REAL NOT NULL,
     Quantity INTEGER NOT NULL,
     Weight_kg REAL,
     Volume_litre REAL,
     Length REAL,
     Width REAL,
     Height REAL,
     PathID INTEGER,
     ItemID INTEGER,
     ColourID INTEGER,
     BrandID INTEGER,
     LocationID INTEGER,
     FOREIGN KEY (Barcode) REFERENCES Transactions_3NF(Barcode),
     FOREIGN KEY (PathID) REFERENCES Navigation_3NF(PathID),
     FOREIGN KEY (ItemID) REFERENCES PackageContents_3NF(ItemID),
     FOREIGN KEY (ColourID) REFERENCES Colours_3NF(ColourID),
     FOREIGN KEY (BrandID) REFERENCES Brands_3NF(BrandID),
     FOREIGN KEY (LocationID) REFERENCES Locations_3NF(LocationID),
     PRIMARY KEY (RegistryID AUTOINCREMENT)
    
);

CREATE TABLE Users_3NF (
    UserID INTEGER NOT NULL,
    UserName VARCHAR(150) NOT NULL,
    PRIMARY KEY(UserID AUTOINCREMENT)

);


CREATE TABLE Brands_3NF (
    BrandID INTEGER NOT NULL,
    Brand VARCHAR(150),
    PRIMARY KEY(BrandID AUTOINCREMENT)

);


CREATE TABLE Locations_3NF (
    LocationID INTEGER NOT NULL,
    StockCountry VARCHAR(150),
    PRIMARY KEY(LocationID AUTOINCREMENT)

);

Query started at 08:13:04 PM South Africa Standard Time; Query executed in 0.00 m

In [171]:
%%read_sql

DELETE FROM Products_3NF;
DELETE FROM Locations_3NF;
DELETE FROM Users_3NF;
DELETE FROM Brands_3NF;
DELETE FROM Transactions_3NF;

INSERT INTO Locations_3NF (StockCountry)
SELECT DISTINCT
    StockCountry
FROM Products_2NF
;

INSERT INTO Brands_3NF (Brand)
SELECT DISTINCT
    Brand
FROM Products_2NF
;

INSERT INTO Users_3NF (UserName)
SELECT DISTINCT
    UserName
FROM Transactions_2NF
;

INSERT INTO Transactions_3NF (Barcode, CartID, InvoiceDate, Total, UserID)
SELECT DISTINCT T2NF.Barcode, T2NF.CartID, T2NF.InvoiceDate, T2NF.Total, U3NF.UserID
FROM Transactions_2NF AS T2NF
JOIN Users_3NF AS U3NF
ON U3NF.UserName = T2NF.UserName
WHERE Barcode <>'' AND CartID <>'' AND InvoiceDate <>'' AND Total <>'' AND UserID <>'';

Query started at 08:13:08 PM South Africa Standard Time; Query executed in 0.00 m

In [172]:
%%read_sql
--I am trying to insert the products in a different cell because its crammed in the previous cell

DELETE FROM Products_3NF;

INSERT INTO Products_3NF (Barcode, ProductDescription, Price, Quantity, Weight_kg, Volume_litre, Length, Width, Height, PathID, ItemID, ColourID, BrandID, LocationID)
SELECT DISTINCT P2NF.Barcode, P2NF.ProductDescription, P2NF.Price, P2NF.Quantity, P2NF.Weight_kg, P2NF.Volume_litre, P2NF.Length, P2NF.Width, P2NF.Height, P2NF.PathID, P2NF.ItemID, P2NF.ColourID, B3NF.Brand, L3NF.LocationID
FROM Products_2NF AS P2NF
JOIN Brands_3NF AS B3NF
ON P2NF.Brand = B3NF.Brand
JOIN Locations_3NF AS L3NF
ON P2NF.StockCountry = L3NF.StockCountry

Query started at 08:13:14 PM South Africa Standard Time; Query executed in 0.00 m

<a id='MCQ_questions'></a>
## 9. MCQ Questions

Having completed the normalisation of the database, you may use the following cells to help you answer the MCQs for the predict.

Q1) How many unique products does the company have?

In [177]:
%%read_sql

SELECT COUNT(DISTINCT(Barcode))
FROM Products_3NF

Query started at 08:13:57 PM South Africa Standard Time; Query executed in 0.00 m

   COUNT(DISTINCT(Barcode))
0                       608

Q2) How many users bought from Bhejane in April 2020?

In [178]:
%%read_sql

SELECT COUNT(DISTINCT(UserID))
FROM Transactions_3NF
WHERE InvoiceDate BETWEEN '2020-04-01' AND '2020-04-30'

Query started at 08:14:02 PM South Africa Standard Time; Query executed in 0.00 m

   COUNT(DISTINCT(UserID))
0                       30

Q3) How many users bought three or more items whose combined total was more than R1000 in a single transaction?

In [179]:
%%read_sql

SELECT COUNT(CartID), Total, Barcode, CartID, UserID
FROM Transactions_3NF
WHERE Total > 1000
GROUP BY Total
ORDER BY COUNT(CartID) DESC

-- 11/12

Query started at 08:14:08 PM South Africa Standard Time; Query executed in 0.00 m

    COUNT(CartID)    Total        Barcode  CartID  UserID
0               4   3301.0   619659097318     136       5
1               4   1716.0   834266002368     115      15
2               4   1523.0      300507946     102       1
3               4   1134.0  4015400541813     160      24
4               4   1114.0   884392580773     172      17
5               3   3464.0   617566827837     179       4
6               3   2535.0  6003000640348     113      71
7               3   1351.0   718037858494     156      11
8               3   1334.0  4549292118766     101      29
9               3   1177.0  6009706869533     139      94
10              3   1137.0   884392580773     114      16
11              2  10999.0    HTB5ABG31E3     123      11
12              2   3765.0    HTB5FI3BC8C     125      45
13              2   1999.0   741311301174       7      12
14              1   2299.0  5397184200193      23      39

Q4) Which user(s) made the largest purchase on a sinlge transaction?

In [180]:
%%read_sql
SELECT DISTINCT(T3NF.CartID), T3NF.Total, T3NF.UserID, U3NF.UserName
FROM Transactions_3NF AS T3NF
JOIN Users_3NF AS U3NF
ON T3NF.UserID = U3NF.UserID
ORDER BY Total DESC
LIMIT 10

Query started at 08:14:15 PM South Africa Standard Time; Query executed in 0.00 m

   CartID    Total  UserID       UserName
0     123  10999.0      11         Mandla
1     124  10999.0      47       Brigette
2     125   3765.0      45  Andreas Peter
3     126   3765.0     120        Mzoxolo
4     179   3464.0       4         Zanele
5     136   3301.0       5         Junaid
6     113   2535.0      71        Melandi
7      23   2299.0      39         Todani
8       7   1999.0      12          Cindy
9      57   1999.0      79      Anonymous

Q5) How many components does the product: "5m Colour Changing RGB LED Strip Light" (MPTAL57588104) come with?

In [181]:
%%read_sql
SELECT P3NF.ProductDescription, P3NF.Barcode, COUNT(DISTINCT(PC3NF.ItemID)), PC3NF.ItemDescription
FROM Products_3NF AS P3NF
JOIN PackageContents_3NF AS PC3NF
ON P3NF.ItemID = PC3NF.ItemID
WHERE Barcode = 'MPTAL57588104'


--4

Query started at 08:14:20 PM South Africa Standard Time; Query executed in 0.00 m

,ProductDescription,Barcode,COUNT(DISTINCT(PC3NF.ItemID)),ItemDescription
0,5m Colour Changing RGB LED Strip Light,MPTAL57588104,4,1 x 12V 3A Power Supply

Q6) How many brands are available at Bhejane?

In [182]:
%%read_sql
SELECT COUNT(DISTINCT(Brand))
FROM Brands_3NF

Query started at 08:14:26 PM South Africa Standard Time; Query executed in 0.00 m

   COUNT(DISTINCT(Brand))
0                     233

7) What is the price of the "Verimark - Floorwiz 2in1 Mop"?

In [183]:
%%read_sql
SELECT DISTINCT(ProductDescription), Price, Barcode
FROM Products_3NF
WHERE ProductDescription LIKE 'Verimark - Floorwiz 2in1 Mop%'

--179

Query started at 08:14:32 PM South Africa Standard Time; Query executed in 0.00 m

             ProductDescription  Price        Barcode
0  Verimark - Floorwiz 2in1 Mop  179.0  6005427110503

Q8) Calculate the package volume of the "Russell Hobbs - Slow Cooker" using the given dimensions. Round your answer to the nearest integer and ignore units for the calculation.

In [184]:
%%read_sql
SELECT DISTINCT(ProductDescription), (Height * Width * Length) AS Volume
FROM Products_3NF
WHERE ProductDescription LIKE 'Russell Hobbs - Slow Cooker%'

--26928/27254

Query started at 08:14:41 PM South Africa Standard Time; Query executed in 0.00 m

            ProductDescription   Volume
0  Russell Hobbs - Slow Cooker  26928.0

Q9) Which user made the most transactions in the Year 2020?

In [185]:
%%read_sql

SELECT COUNT(UserID), Total, UserID
FROM Transactions_3NF
WHERE InvoiceDate BETWEEN '2020-01-01' AND '2020-12-31'
GROUP BY UserID
ORDER BY COUNT(UserID) DESC

Query started at 08:14:46 PM South Africa Standard Time; Query executed in 0.00 m

     COUNT(UserID)   Total  UserID
0                9   459.0      21
1                8   775.0      14
2                6   897.0      74
3                6  3464.0       4
4                5  1351.0      11
..             ...     ...     ...
155              1   299.0      19
156              1    44.0       9
157              1    75.0       6
158              1    99.0       3
159              1   149.0       2

[160 rows x 3 columns]

Q10) What is the total number of recorded users that shop at Bhejane?

In [186]:
%%read_sql
SELECT COUNT(DISTINCT(UserID))
FROM Users_3NF

Query started at 08:15:03 PM South Africa Standard Time; Query executed in 0.00 m

   COUNT(DISTINCT(UserID))
0                      160

Q11) What is the record count for the Colours_3NF Table?

In [187]:
%%read_sql
SELECT COUNT(DISTINCT(Colour))
FROM Colours_3NF

--18

Query started at 08:15:08 PM South Africa Standard Time; Query executed in 0.00 m

   COUNT(DISTINCT(Colour))
0                       18

Q12) What would the total price be if I had the following items in my cart?
* MPTAL57588104
* 5000394203921
* 6932391917652

In [188]:
%%read_sql
SELECT DISTINCT(Barcode), Price
FROM Products_3NF
WHERE Barcode = 'MPTAL57588104' OR Barcode = '5000394203921' OR Barcode = '6932391917652'

--734

Query started at 08:15:15 PM South Africa Standard Time; Query executed in 0.00 m

         Barcode  Price
0  5000394203921   35.0
1  6932391917652  329.0
2  MPTAL57588104  370.0

Q13) What is the barcode of the most sold product?

In [189]:
%%read_sql

SELECT COUNT(DISTINCT(Barcode)), Total, Barcode
FROM Transactions_3NF
GROUP BY Total
ORDER BY COUNT(DISTINCT(Barcode)) DESC
LIMIT 10

--6003000542475, MPTAL00115390, 6001069603052

Query started at 08:15:21 PM South Africa Standard Time; Query executed in 0.00 m

   COUNT(DISTINCT(Barcode))   Total        Barcode
0                         8   757.0  6001069603052
1                         6    99.0   614143543746
2                         4  3301.0   619659097318
3                         4  1716.0   834266002368
4                         4  1523.0      300507946
5                         4  1134.0  4015400541813
6                         4  1114.0   884392580773
7                         4   897.0  6003977000206
8                         4   816.0  6001106128616
9                         4   687.0  4210201043577

Q14) What are the products of Cornelisâ cart on the 2020-06-28 0:00:00?

In [190]:
%%read_sql
SELECT DISTINCT(T3NF.CartID), T3NF.Barcode, T3NF.UserID, T3NF.InvoiceDate, P3NF.ProductDescription, U3NF.UserName
FROM Transactions_3NF AS T3NF
JOIN Products_3NF AS P3NF
ON T3NF.Barcode = P3NF.Barcode
JOIN Users_3NF AS U3NF
ON T3NF.UserID = U3NF.UserID
JOIN PackageContents_3NF AS PC3NF 
WHERE T3NF.UserID = '21' AND InvoiceDate = '2020-06-28 0:00:00'

Query started at 08:15:27 PM South Africa Standard Time; Query executed in 0.00 m

,CartID,Barcode,UserID,InvoiceDate,ProductDescription,UserName
0,104,6001106124069,21,2020-06-28 0:00:00,Dettol Body Wash - Shower Gel - Original - 600ml,Cornelis
1,104,6003753002035AP,21,2020-06-28 0:00:00,Vitality Aloe Vera Gel 100ml,Cornelis
2,104,MPTAL00555756,21,2020-06-28 0:00:00,Sparq Active Resistance Loop Band - Set of 5 w...,Cornelis
3,104,MPTAL72193414,21,2020-06-28 0:00:00,Protective Face Shield,Cornelis

Q15) Which users bought locally produced, black-coloured products on odd-numbered months of the year, and what was the total cost (rounded to the nearest integer) of these products?

In [191]:
%%read_sql

SELECT P3NF.ProductDescription, L3NF.StockCountry, C3NF.Colour, T3NF.InvoiceDate, T3NF.UserID, T3NF.Total, U3NF.UserName
FROM Products_3NF AS P3NF
JOIN Locations_3NF AS L3NF
ON P3NF.LocationID = L3NF.LocationID
JOIN Colours_3NF AS C3NF
ON P3NF.ColourID = C3NF.ColourID
JOIN Transactions_3NF AS T3NF
ON P3NF.Barcode = T3NF.Barcode
JOIN Users_3NF AS U3NF
ON T3NF.UserID = U3NF.UserID
WHERE L3NF.StockCountry = 'South Africa' AND C3NF.Colour = 'Black' 
ORDER BY InvoiceDate DESC

Query started at 08:15:32 PM South Africa Standard Time; Query executed in 0.00 m

,ProductDescription,StockCountry,Colour,InvoiceDate,UserID,Total,UserName
0,Sodastream - Classic Carbonating Bottle 1 Litr...,South Africa,Black,2020-07-28 0:00:00,105,179.0,Jeandre
1,Sodastream - Classic Carbonating Bottle 1 Litr...,South Africa,Black,2020-07-28 0:00:00,105,179.0,Jeandre
2,Addis - Rough Tote - 30 Litre,South Africa,Black,2020-07-26 0:00:00,50,93.0,Conrad
3,Duracell Plus Alkaline AAA Batteries - 20 Pack,South Africa,Black,2020-07-04 0:00:00,33,189.0,Hester
4,Compatible Canon 737 Black Laser Toner Cartridge,South Africa,Black,2020-07-02 0:00:00,1,1523.0,DIMPHO
5,Canon PIXMA TR4540 A4 4-in-1 Wi-Fi Inkjet Printer,South Africa,Black,2020-06-19 0:00:00,28,899.0,Waylenn
6,Canon PIXMA TR4540 A4 4-in-1 Wi-Fi Inkjet Printer,South Africa,Black,2020-06-19 0:00:00,28,899.0,Waylenn
7,Canon PIXMA TR4540 A4 4-in-1 Wi-Fi Inkjet Printer,South Africa,Black,2020-06-19 0:00:00,28,899.0,Waylenn
8,Canon PIXMA TR4540 A4 4-in-1 Wi-Fi Inkjet Printer,South Africa,Black,2020-06-19 0:00:00,28,899.0,Waylenn
9,Canon PIXMA TR4540 A4 4-in-1 Wi-Fi Inkjet Printer,South Africa,Black,2020-06-19 0:00:00,28,899.0,Waylenn
10,Ausdom AW635 1080P Streaming Web Camera - Black,South Africa,Black,2020-06-16 0:00:00,104,798.0,Kelsey Brynne
11,Ausdom AW635 1080P Streaming Web Camera - Black,South Africa,Black,2020-06-16 0:00:00,104,798.0,Kelsey Brynne
12,Canon PIXMA TR4540 A4 4-in-1 Wi-Fi Inkjet Printer,South Africa,Black,2020-06-09 0:00:00,29,1334.0,Hanno
13,Canon PIXMA TR4540 A4 4-in-1 Wi-Fi Inkjet Printer,South Africa,Black,2020-06-09 0:00:00,29,1334.0,Hanno
14,Canon PIXMA TR4540 A4 4-in-1 Wi-Fi Inkjet Printer,South Africa,Black,2020-06-09 0:00:00,29,1334.0,Hanno
15,Canon PIXMA TR4540 A4 4-in-1 Wi-Fi Inkjet Printer,South Africa,Black,2020-06-09 0:00:00,29,1334.0,Hanno
16,Canon PIXMA TR4540 A4 4-in-1 Wi-Fi Inkjet Printer,South Africa,Black,2020-06-09 0:00:00,29,1334.0,Hanno
17,Brother TN1000 /1000 Compatible Toner,South Africa,Black,2020-06-09 0:00:00,29,1334.0,Hanno
18,"WD Elements Portable 1TB USB 3,0",South Africa,Black,2020-06-01 0:00:00,4,840.0,Zanele
19,"WD Elements Portable 1TB USB 3,0",South Africa,Black,2020-06-01 0:00:00,4,840.0,Zanele
20,"WD Elements Portable 1TB USB 3,0",South Africa,Black,2020-06-01 0:00:00,4,840.0,Zanele
21,Ausdom AW635 1080P Streaming Web Camera - Black,South Africa,Black,2020-05-18 0:00:00,32,798.0,Lacin
22,Ausdom AW635 1080P Streaming Web Camera - Black,South Africa,Black,2020-05-18 0:00:00,32,798.0,Lacin
23,JBL T500BT Wireless On-Ear Headphones - Black,South Africa,Black,2020-05-04 0:00:00,101,799.0,Carel
24,JBL T500BT Wireless On-Ear Headphones - Black,South Africa,Black,2020-05-04 0:00:00,101,799.0,Carel
25,JBL T500BT Wireless On-Ear Headphones - Black,South Africa,Black,2020-05-04 0:00:00,101,799.0,Carel
26,JBL T500BT Wireless On-Ear Headphones - Black,South Africa,Black,2020-05-04 0:00:00,101,799.0,Carel
27,The Secret Fat Burner,South Africa,Black,2020-04-24 0:00:00,136,745.0,keith
28,Weber - 4kg Briquettes - 3 Pack,South Africa,Black,2020-04-16 0:00:00,116,149.0,Charlene
29,Weber - 4kg Briquettes - 3 Pack,South Africa,Black,2020-04-16 0:00:00,116,149.0,Charlene
30,Alva - Gas Level Indicator,South Africa,Black,2020-04-10 0:00:00,14,775.0,Erlo
31,RCT 2000VA Line Interactive UPS,South Africa,Black,2020-03-31 0:00:00,12,1999.0,Cindy